html{
    background-color: black;
}

h1, .guide{
    font-family: Verdana;
    text-align: center;
    color: white;
    font-size: 50px;
    font-weight: normal;
}

.d-link, a{
    color:aquamarine;
    text-align: center;
    font-size: 16px;
}

video{
    position: relative;
    left: 416px;
    top: 20px;
}